{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

      {% if title %}
          <title> Coded Core - {{ title }}</title>
      {% else %}
          <title> Coded Core </title>
      {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Coded Core</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="https://drive.google.com/file/d/1PEEv_UmjwLATJ14poS8z3vV8lydSjKx_/view" target="_blank">Resume</a>
            </div>
            <!-- Navbar Right Side -->
            <!-- <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div> -->
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="detail-contents">
        <div class="row content-section" style="background:#015863 ;">
          <div class="col-md-8">
            <!-- {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %} -->
            {% block contents %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h2 class="text-info">Learning Tech</h2>
              <small>Hey pal! check these cool pyhton codes.</small>
              <h4 class="text-info"> Python </h4>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-python' 'python' %}">Learning Python</a></li>
                </ul>
              <h4 class="text-info"> Django </h4>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-python' 'django' %}">Learning Django</a></li>
                </ul>
              <h4 class="text-info"> Algorithms</h4>
              <p class="text-muted">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'binary-search' %}">Binary Search</a></li>
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'selection-sort' %}">Selection Sort</a></li>
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'insertion-sort' %}">Insertion Sort</a></li>
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'quick-sort' %}">Quick Sort</a></li>
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'merge-sort' %}">Merge Sort</a></li>
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'heap-sort' %}">Heap Sort</a></li>
                </ul>
              </p>
              <h4 class="text-info" > Data Structures</h4>
              <p class='text-muted'> 
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><a href="{% url 'blog-details' 'graph' %}">Graph</a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
    </main>
      
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>